
.nav-link {
    color: white;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-link:hover {
    color: gray;
}




.dropdown-menu{
    width:60%;
}

#map-canvas {
    width: 500px;
    height: 500px;
  }
