
.navbar{
    width:100%;
    margin-top:10px;
}
#loginBtn{
    margin-right:10%;
}
#login-drop{
    width:300px;
}
.dropdown-menu { left: auto; right: 25%; }
.form-group{
    margin-left:3px;
    margin-right:3px;
}

.nav-link {
    color: white;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.nav-link:hover {
    color: gray;
}
.dropdown-menu{
    width:60%;
}
#map-canvas {
    width: 500px;
    height: 500px;
  }
  #destinationInput,#locationField {
    width: 85%;
    margin-left: 60px;
    margin-right: 50px;
    }
    .searchbar{
        width:100%;
        border-radius: 10px;
        height:35px;
    }
.nav-link {
    color: white;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.nav-link:hover {
    color: gray;
}
#food-header {
    width: 100%;
    text-align: center;
}
.dropdown-menu{
    width:60%;
}
#map-canvas {
    width: 500px;
    height: 500px;
  }
  #sprite-1 {
      position: absolute,

  }
  #sprite-2 {
      position: absolute;
      right: 450px;
  }
#box-1 {
    width: 100%;
}
/* Google autocomplete stuff */
#locationField, #controls {
    position: relative;
  }
  #autocomplete {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99%;
  }
  .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
  }
  #address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
  }
  #address td {
    font-size: 10pt;
  }
  .field {
    width: 99%;
  }
  .slimField {
    width: 80px;
  }
  .wideField {
    width: 200px;
  }
  #locationField {
    height: 20px;
    margin-bottom: 2px;
  }