
.nav-link {
    color: white;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-link:hover {
    color: gray;
}




.dropdown-menu{
    width:60%;
}

#map-canvas {
    width: 500px;
    height: 500px;
  }


  #destinationInput {
    width: 85%;
    margin-left: 60px;
    margin-right: 50px;
}



.nav-link {
    color: white;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-link:hover {
    color: gray;
}

#food-header {
    width: 100%;
    text-align: center;
}


.dropdown-menu{
    width:60%;
}

#map-canvas {
    width: 500px;
    height: 500px;
  }


  #sprite-2 {
      right: 42%;
  }

 

  #sprite-3 {
      height: 300px;
      width: 500px;
      z-index: -1;
}

#box-1 {
    width: 100%;
}

html {
    max-width: 1265px;
}



.branding-1{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 70px;
}

.branding-2{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 30px;
}